<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js • TodoMVC</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="todos">
      <section id="todoapp">
        <%= yield %>
      </section>
      <footer id="info">
        <p>Double-click to edit a todo</p>
      </footer>
    </script>
  </body>
</html>